{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
<article class="page blog-list-page">
  <h1>{{ .Title }}</h1>
  {{ with .Content }}
  <div class="blog-intro">{{ . }}</div>
  {{ end }}
  {{ with .OutputFormats.Get "RSS" }}
  <p class="blog-rss-link"><a href="{{ .Permalink }}">RSS feed</a></p>
  {{ end }}
  {{ partial "blog-tag-filter.html" . }}
  {{ partial "blog-search.html" . }}
  <ul class="post-list" id="post-list">
    {{ range .Pages }}
    {{ $tags := .Param "tags" | default (slice) }}
    {{ $searchText := (print .Title " " (default "" (.Summary | plainify)) " " (delimit $tags " ")) | replaceRE "[\r\n]+" " " }}
    <li class="post-item">
      <span class="blog-search-data" aria-hidden="true">{{ $searchText }}</span>
      <a href="{{ .RelPermalink }}" class="post-link">{{ .Title }}</a>
      <div class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 Jan 2006" }}</time>
        {{ with .Param "tags" }}
        <span class="post-tags">
          {{ range . }}
          <a href="{{ (printf "/tags/%s/" .) | relURL }}" class="tag tag-link">{{ . }}</a>
          {{ end }}
        </span>
        {{ end }}
      </div>
      {{ with .Summary }}
      <p class="post-summary">{{ . }}</p>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</article>
{{ partial "blog-search-script.html" . }}
{{ end }}
